.gameGrid {
	position: relative;
	width: 1200px;
	height: 800px;

	margin-left: 50px;
}

.gameOptions {
	height: 150px;;

	margin-left: 50px;
	margin-bottom: 50px;
}

.newButton {
	padding-left: 15%;
}

#gridCanvas {
	position: absolute;
	left: 0px;
	top: 0px;

	pointer-events: none;
}

.gridColumn {
	/*width: 630;
	height: 70;*/

	float: left;

	/*border: solid 1px black;*/
}

.cell {
	/*width: 70px;
	height: 70px;
	line-height: 70px;*/

	text-align: center;
	vertical-align: middle;

	background-color: teal;
}

.activeCell {
	background-color: #084B8A;
}

.dimmed {
  position: relative;
}

.dimmed:after {
	content: attr(data-victory-text);
	text-align: center;
	z-index: 10;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	background: rgba(255, 255, 255, 0.5);
}